---
title: "ranking my cursed sketches"
self: "ranking-my-cursed-sketches"
descriptor: "you aren't ready"
postNumber: "3"
layout: "blogpost.njk"
date: 2025-01-20

intro: "Introduction"
point1: "Sketch 1"
point2: "Sketch 2"
point3: "Sketch 3"
point4: "Sketch 4"
point5: "Sketch 5"
conc: "Conclusion"
---

<h1>
    {{ title }}
</h1>

<p class="date">
   Date: {{ date | date: "%m/%d/%Y" }}
</p>

<section>
<h3>
    TABLE OF CONTENTS
</h3>

<ol>
    <li>
        <a href="#{{ intro }}{ postNumber }">{{ intro }}</a>
    </li>
    <li>
        <a href="#{{ point1 }}{ postNumber }">{{ point1 }}</a>
    </li>
    <li>
        <a href="#{{ point2 }}{ postNumber }">{{ point2 }}</a>
    </li>
    <li>
        <a href="#{{ point3 }}{ postNumber }">{{ point3 }}</a>
    </li>
    <li>
        <a href="#{{ point4 }}{ postNumber }">{{ point4 }}</a>
    </li>
    <li>
        <a href="#{{ point5 }}{ postNumber }">{{ point5 }}</a>
    </li>
    <li>
        <a href="#{{ conc }}{ postNumber }">{{ conc }}</a>
    </li>
</ol>
</section>

<section>
<h3 id="{{ intro }}{ postNumber }">
    {{ intro }}
</h3>

<div class="blog-text">
    <p>
        {{ descriptor }}
    </p>
    <p>
    I apologize for the incomplete blog post! I'm using this as a
    tester for implementing eleventy shenanigans, but i plan to write stuff
    abt these topics eventually
    </p>
</div>
</section>

<section>
<h3 id="{{ point1 }}{ postNumber }">
    {{ point1 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: not great
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ point2 }}{ postNumber }">
    {{ point2 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: better, and even great in certain
        contexts
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ point3 }}{ postNumber }">
    {{ point3 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: goodish, but silicon :(
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ point4 }}{ postNumber }">
    {{ point4 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: dunno need to do more research
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ point5 }}{ postNumber }">
    {{ point5 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: we can do much better :(((
            the poor salmon
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ conc }}{ postNumber }">
    {{ conc }}
</h3>

<div class="blog-text">
    <p>
        Oof, I'm so sorry if you're still here.
    </p>
</div>
</section>