---
title: "I love trains - part 1 - history"
self: "i-love-trains-part-1-history"
descriptor: "choo choo"
layout: "blogpost.njk"
date: 2025-11-15
displayDate: "11/15/2025"
bannerImage: "/images/maglev.jpg"
imageTitle: 'maglev train'

intro: "Introduction"
point1: "History/Rant"
point2: "The US urgently needs better public transportation"
sources: "Sources"
---


{% comment %}
List to of stuff:
- rail design
-rack railway
- science behind maglev trains
- superconductor stuff
{% endcomment %}

<section>
    <h3>
        TABLE OF CONTENTS
    </h3>

    <ol>
        <li>
            <a href="#{{ intro }}p2">{{ intro }}</a>
        </li>
        <li>
            <a href="#{{ point1 }}p2">{{ point1 }}</a>
        </li>
        <li>
            <a href="#{{ point2 }}p2">{{ point2 }}</a>
        </li>
    </ol>
</section>

<section>
    <h3 id="{{ intro }}p2">
        {{ intro }}
    </h3>

    <div class="blog-text">
        <p>
            Hi! If you know me, you know that I foam at the mouth at the thought of trains; they make me go off the
            rails in excitement. Anyway, I will be starting a series where I will share a bunch of stuff on trains as
            well as public transportation in general in the US.
        </p>

        <p>
            This post will be focusing on a broad history of trains and general transportation infrastructure in the US.
            I hope that after you're done reading this, you learned about why car-centric urban design is bad and why
            you
            should like trains more than you currently do.
        </p>
    </div>
</section>

<section>
    <h3 id="{{ point1 }}p2">
        {{ point1 }}
    </h3>

    <div class="blog-text">
        <p>
            Railways originated in Germany in the 1550s; however, the first steam locomotives came from Great Britain at
            the dawn of the 19th century. They were initially intended to haul coal but were soon adapted to hold
            passengers.<a href="#s1"><sup>1</sup></a>
        </p>
        <p>
            Locomotives soon followed in the US in the 1820s. After the Civil War came the "Gilded Age" of rapid
            industrialization and technological innovation, which lasted from the 1880s to the 1920s. Mass steel
            manufacturing led to more robust rails and train wheels, compared to the original use of wood. Smaller
            wheels were developed for use on heavy duty freight trains, and larger wheels were used for faster passenger
            trains.<a href="#s1"><sup>1</sup></a>
        </p>

        <p>
            With the "Gilded Age" came the rise of infamous robber barons, such as Cornelius Vanderbilt and Andrew
            Carnegie, known for subjugating their workers to horrible conditions through intimidation, retaliation, and
            fraud. One prominant case of workers' rights abuses came from the 1892 Homestead Strike, in response to
            Carnegie Steel Co. breaking the Amalgamated Association's union contract with severe wage cuts. The company
            put a violent end to the strike with around a dozen dead workers, as well as the dissolution of the
            Amalgamated Association through the aid of 8,500 National Guards.<a href="#s2"><sup>2</sup></a>
        </p>

        <p>
            Rate discrimination was also a major issue, where railroads favored larger shippers over smaller
            businesses.<a href="#s3"><sup>3</sup></a> Farmers, who were the main critics of rate discrimination, formed
            the National Grange of the Patrons of Husbandry in 1867 to pressure state legislatures to regulate railroad
            freight rates. Consequently, some midwestern states agreed with their demands, and the US Interstate
            Commerce Commission was created in 1887 to look into rate structures.<a href="#s3"><sup>3</sup></a>
        </p>

        <p>
            Racial discrimination was rampant among railroad industries as well. An estimated 15-20 thousand Chinese
            migrants laid the tracks of the western portion of the Transcontinental Railroad. They were often paid less
            than white workers, and hundreds died as a result of the dangerous work conditions.<a
                href="#s4"><sup>4</sup></a></p>

        <p>In addition, the history of black workers' contributions to the railroad industries have been poorly
            acknowledged. It is widely known that before the Civil War, nearly every railroad in the American South was
            built using slave labor. Railroad companies also often sought black workers as a source of cheap labor and a
            means of keeping wages depressed during the construction of the Transcontinental Railroad.<a
                href="#s5"><sup>5</sup></a><sup>, </sup><a href="#s6"><sup>6</sup></a>
        </p>

        <p>
            During the late 19th century, railroad companies initiated a campaign against black workers with the
            formation of the Brotherhood of Locomotive Firemen and Enginemen and the Brotherhood of Railroad Trainmen,
            which were white craft brotherhoods. These unions excluded black workers from membership or relegated them
            to segregated locals and auxiliaries controlled by white locals, where black workers were often denied
            representation and promotion in shops where white helpers were employed.<a href="#s6"><sup>6</sup></a> By
            1910, these craft brotherhoods won labor agreements that severely restricted the kinds of jobs black workers
            could hold and the numbers of skilled black workers. Black workers, in response, determined that forming
            their own unions would be the most effective way to protect their jobs and founded all-black unions by the
            early 20th century.<a href="#s6"><sup>6</sup></a> Due to pressure from these unions, the Fair Employment
            Practices Committee (FEPC) was founded in 1941, and their hearings led to twenty railroads and several
            unions ordered to cease their discriminatory practices. However, President Roosevelt did not enforce the
            FEPC's orders, and many of the white craft unions refused to admit any wrongdoings.<a
                href="#s6"><sup>6</sup></a>
        </p>

        <p>
            With the invention of cars and planes in the early 20th century came the eventual demise of the railroad as
            the
            primary means of transportation in the US by the 1950s (often through corrupt means). However, many other
            countries have
            continued drastically improving train technology. In 1912, Switzerland invented the world's first diesel
            locomotive, which was much more efficient than steam locomotives. In 1953, Japan set the narrow gauge world
            speed record of 145 km/h (90 mph). More currently, the Eurostar, founded in 1994, cut the travel time from
            London to Paris to only two hours. Many countries, such as Germany, China, and Japan, are pioneering maglev
            (magnetic levitation) trains with super-conducting magnets to further minimize resistance.
        </p>

        <p>
            I went on a long-winded tangent on the darker aspects of the history behind railroads and trains. If I am
            going to talk about how much I love trains, I should provide a broader context behind them. I would like to
            specify that I like the mechanical innerworkings of trains and the positive impact that they would have on
            society if they were more widespread, but I deplore the dark history of the original railroad industry.
        </p>

        <p>One of my friends pointed out how ironic it is that the train industry is currently among the more ethical
            transporation industries; it is proven that more trains will drastically improve the lives of millions of
            Americans, especially in more urban areas, yet the automobile industry has such a chokehold on legislatures
            that any more funding for more robust public transporation has been squandered. We all know about Boeing
            whistleblowers who "mysteriously" disappeared after speaking out about safety concerns. We continue seeing
            the US lag further and further behind other countries in terms of public transportation accessibility. I
            hope that before I die that there is a high-speed continental rail in the US, but built with ethical work
            conditions.
        </p>
    </div>
</section>

<section>
    <h3 id="{{ point2 }}p2">
        {{ point2 }}
    </h3>

    <div class="blog-text">
        <p>
            I hate cars. They are so commonplace that no one ever questions how awful they truly are. The average
            commute time in the US is around 26 minutes, and 77% of US commuters drive to work, while only 3% take
            public transportation.<a href="#s7"><sup>7</sup></a> Cars are also incredibly energy inefficient and far
            more deadly than other forms of transportation. Forty thousand people die annually due to vehicle collisions
            in the US, and according to the below chart, transit rail is around 3-4 times as efficient as cars are in
            terms
            of average per-passenger fuel economy.<a href="#s8"><sup>8</sup></a> Objectively, more robust access to
            public transportation would reduce greenhouse gas emissions, lower energy demands, decrease commute time to
            work, and kill less people.
        </p>

        <p></p>

        <div style="display: flex; justify-content: center;">
            <img class="blog-pic" style="box-shadow: 0px 0px 10px gray; background: white;"
                src="/images/trainspost/average-per-passenger-fu.png"
                alt="average per-passenger fuel economy by travel mode">
        </div>
        <div class="caption" style=" text-align: center;">
            Average Per-Passenger Fuel Economy by Travel Mode.<a href="#s8"><sup>8</sup></a>
        </div>

        <p>
            Historically, pedestrians and bikers, a.k.a most people, owned the streets; if you look back at old images
            of the US you can observe this (pictured below). In the early twentieth century, when cars were really only
            driven by wealthy hobbyists, traffic deaths soared, and in response, automakers pressed the government to
            restrict pedestrians from the streets. Expectedly, this marred the image of the automobile industry, so they
            aggressively campaigned the idea of "jaywalking" to shift blame for pedestrian deaths from cars and drivers
            to the victims themselves; pedestrians were "death-seeking" fools if they didn't take sole responsibility
            for their own safety.<a href="#s9"><sup>9</sup></a> This campaign was incredibly successful, as still now,
            Americans are far quicker to cast blame on pedestrians for their deaths in traffic accidents instead of on
            careless drivers or the automobile industry as a whole. With increasingly unaffordable car insurance, awful
            resale potential (a brand-new car loses 50% of its value once it is driven out of the car lot it was bought
            from), barriers to getting drivers licenses, energy inefficiency, and deadly design, cars really are an
            engineering tragedy. Trains are the future.
        </p>

        <p>

        </p>
        <div style="display: flex; justify-content: center;">
            <img class="blog-pic-tall"  style="box-shadow: 0px 0px 10px gray;" src="/images/trainspost/beforeafterkansascitymo.png"
                alt="before and after of street in Kansas City, MO">
        </div>
        <div class="caption" style=" text-align: justify;">
            Utterly devastating... this is the Main and Delaware St. in Kansas City, MO from 1906 and 2015. The entire
            area was leveled in the late 50s to make way for I-70/I-35 through downtown.<a href="#s10"><sup>10</sup></a>
        </div>

        <p>

        </p>
        <p>
            Here are some other interesting comparison photos.
        </p>
        <p></p>
        <div style="display: flex; justify-content: center;">
            <img class="blog-pic-tall" style="box-shadow: 0px 0px 10px gray;"
                src="/images/trainspost/beforeaftermassachusetts.png"
                alt="before and after of trolley scene in Massachusetts">
        </div>
        <div class="caption" style=" text-align: justify;">
            This is a trolley ascending Mount Tom in Holyoke, Massachusetts around 1905-15, and the same scene in
            2021.<a href="#s10"><sup>10</sup></a>
        </div>

        <div style="display: flex; justify-content: center;">
            <img class="blog-pic-tall" style="box-shadow: 0px 0px 10px gray;" src="/images/trainspost/beforeafterbrooklyn.png"
                alt="steam engine schematic">
        </div>
        <div class="caption" style=" text-align: center;">
            This is in Greenpoint, Brooklyn, 1916 and 2021.<a href="#s10"><sup>10</sup></a>
        </div>

        <p>
            There are a lot of other things I want to rant about cars, but I am tired and have been sporadically working
            on this post for the last 8 months (I have a bunch of other random content for separate parts), so I will
            send this off for now. Cheers, and I hope you like trains more.
        </p>

    </div>
</section>


<section>
    <h3 id="{{ sources }}p2">
        {{ sources }}
    </h3>

    <div class="blog-text" style="overflow-wrap: break-word;">
        <p id="s1">
            <sup>1</sup><a href="https://intrans.iastate.edu/news/trains-a-history/">Postlethwait, H. (2016, August 16).
                Trains: A History. Institute for Transportation; Iowa State University.
                https://intrans.iastate.edu/news/trains-a-history/
                ‌ </a>
        </p>
        <p id="s2">
            <sup>2</sup><a href="https://aflcio.org/about/history/labor-history-events/1892-homestead-strike">AFL-CIO.
                (2019). 1892 Homestead Strike. Aflcio.org.
                https://aflcio.org/about/history/labor-history-events/1892-homestead-strike
                ‌</a>
        </p>

        <p id="s3">
            <sup>3</sup><a href="https://www.lib.uiowa.edu/exhibits/previous/railroad/">The Golden Age of American
                Railroading - Exhibitions - The University of Iowa Libraries. (n.d.).
                https://www.lib.uiowa.edu/exhibits/previous/railroad/

                ‌</a>
        </p>
        <p id="s4">
            <sup>4</sup><a
                href="https://news.stanford.edu/stories/2019/04/giving-voice-to-chinese-railroad-workers">Shashkevich,
                A. (2019, April 9). Giving voice to Chinese railroad workers. News.stanford.edu.
                https://news.stanford.edu/stories/2019/04/giving-voice-to-chinese-railroad-workers
                ‌ </a>
        </p>

        <p id="s5">
            <sup>5</sup><a
                href="https://www.nps.gov/gosp/learn/historyculture/african-american-railroad-workers.htm">City, M. A.
                P. O. B. 897 B., & Us, U. 84302 P. 435 471-2209 x429 C. (n.d.). African American railroad workers -
                Golden Spike National Historical Park (U.S. National Park Service). Www.nps.gov.
                https://www.nps.gov/gosp/learn/historyculture/african-american-railroad-workers.htm
                ‌</a>
        </p>

        <p id="s6">
            <sup>6</sup><a href="https://archives.nypl.org/scm/20950">archives.nypl.org -- Blacks in the railroad
                industry collection. (2016). Nypl.org. https://archives.nypl.org/scm/20950
                ‌ </a>
        </p>

        <p id="s7">
            <sup>7</sup><a href="https://www.autoinsurance.com/research/us-commuting-statistics/">Commuting in the U.S.
                Facts and Statistics. (n.d.). Autoinsurance.com.
                https://www.autoinsurance.com/research/us-commuting-statistics/
                ‌ </a>
        </p>
        <p id="s8">
            <sup>8</sup><a href="https://afdc.energy.gov/data/10311">Alternative Fuels Data Center: Maps and Data -
                Average Per-Passenger Fuel Economy by Travel Mode. (n.d.). Afdc.energy.gov.
                https://afdc.energy.gov/data/10311

                ‌ </a>
        </p>
        <p id="s9">
            <sup>9</sup><a href="https://www.yournec.org/the-invention-of-jaywalking/">Fiske, C. (2022, September 30).
                The Invention of Jaywalking | NEC. https://www.yournec.org/the-invention-of-jaywalking/

                ‌</a>
        </p>
        <p id="s10">
            <sup>10</sup><a href="https://www.thescroller.net/18111/57-photos-how-places-have-changed/">Droscher, C.
                (2025, February 22). 50+ Photos Showing How Places Have Changed Over Time. The Scroller.
                https://www.thescroller.net/18111/57-photos-how-places-have-changed/
                ‌</a>
        </p>
    </div>
</section>