---
title: "Some Spectacular Birding"
self: "some-spectacular-birding"
descriptor: "birds are life"
layout: "blogpost.njk"
date: 2026-04-18
displayDate: "04/18/2026"
bannerImage: "/images/some-spectacular-birding/headerpic.jpg"
imageTitle: "I'm so tired all of the time"

intro: "I need to reconnect with nature"
point1: "1. Canada Goose"
point2: "2. Mallard"
point3: "3. Feral Domestic Goose"
point4: "4. Mute Swan"
point5: "5. European Starling"
point6: "6. Red-winged Blackbird"
point7: "7. Common Grackle"
point8: "8. Mourning Dove"
point9: "9. Northern Mockingbird"
point10: "10. American Robin"
point11: "11. Double-crested Cormorant"
point12: "12. Herring Gull"
point13: "13. House Sparrow"
point14: "14. Song Sparrow"
point15: "15. American Crow"
point16: "16. Rock Pigeon"
point17: "17. Blue Jay"
point18: "18. Brown Creeper"
point19: "Conclusion"
---


{% comment %}
List to of stuff:
- rail design
-rack railway
- science behind maglev trains
- superconductor stuff
{% endcomment %}

<section>
    <h3>
        TABLE OF CONTENTS
    </h3>

    <ul>
        <li>
            <a href="#{{ intro }}p2">{{ intro }}</a>
        </li>
        <li>
            <a href="#{{ point1 }}p2">{{ point1 }}</a>
        </li>
        <li>
            <a href="#{{ point2 }}p2">{{ point2 }}</a>
        </li>
        <li>
            <a href="#{{ point3 }}p2">{{ point3 }}</a>
        </li>
        <li>
            <a href="#{{ point4 }}p2">{{ point4 }}</a>
        </li>
        <li>
            <a href="#{{ point5 }}p2">{{ point5 }}</a>
        </li>
        <li>
            <a href="#{{ point6 }}p2">{{ point6 }}</a>
        </li>
        <li>
            <a href="#{{ point7 }}p2">{{ point7 }}</a>
        </li>
        <li>
            <a href="#{{ point8 }}p2">{{ point8 }}</a>
        </li>
        <li>
            <a href="#{{ point9 }}p2">{{ point9 }}</a>
        </li>
        <li>
            <a href="#{{ point10 }}p2">{{ point10 }}</a>
        </li>
        <li>
            <a href="#{{ point11 }}p2">{{ point11 }}</a>
        </li>
        <li>
            <a href="#{{ point12 }}p2">{{ point12 }}</a>
        </li>
        <li>
            <a href="#{{ point13 }}p2">{{ point13 }}</a>
        </li>
        <li>
            <a href="#{{ point14 }}p2">{{ point14 }}</a>
        </li>
        <li>
            <a href="#{{ point15 }}p2">{{ point15 }}</a>
        </li>
        <li>
            <a href="#{{ point16 }}p2">{{ point16 }}</a>
        </li>
        <li>
            <a href="#{{ point17 }}p2">{{ point17 }}</a>
        </li>
        <li>
            <a href="#{{ point18 }}p2">{{ point18 }}</a>
        </li>
        <li>
            <a href="#{{ point19 }}p2">{{ point19 }}</a>
        </li>
    </ul>
</section>

<section>
    <h3 id="{{ intro }}p2">
        {{ intro }}
    </h3>

    <div class="blog-text">
        <p>
            After taking a midterm for Mechanics and Materials II, I direly needed to reconnect with nature (NOT just touching grass, as lawns suck. monocultures = ecological dead zones). Over the last couple of days, I took walks along the Charles River Esplanade and got some lovely birding in... even a lifer (bird I have seen for the first time)!!! I felt compelled to write about these birds and got pictures of them whenever I could (or felt like it lol).
        </p>

        <p>
            After reading this post, keep an eye out for these bird species if you are around MIT (or ig in general)!
        </p>
    </div>
</section>

<section>
    <h3 id="{{ point1 }}p2">
        {{ point1 }}
    </h3>

    <div class="blog-text">
        <p>
            First up is the infamous Canada goose!!! They are such iconic birds, and I believe they are unfairly hated. Part of the reason why they are "aggressive" is because they are monogamous and will fiercely defend their partners.
        </p>

        <p>
            I did not get a picture of them on my walks, but I have a bunch of pictures of them on my phone, accumulated over the years I spent at MIT. Enjoy!
        </p>

        <p></p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/goose1.jpg" alt="canada geese">
            <img class="blog-pic"  src="/images/some-spectacular-birding/goose2.jpg" alt="canada geese">
        </div>

        <div style="display: flex; justify-content: center; gap: 5px; margin-top: 5px;">
             <img class="blog-pic"  src="/images/some-spectacular-birding/goose3.jpg" alt="canada geese">
            <img class="blog-pic"  src="/images/some-spectacular-birding/goose4.jpg" alt="canada geese">
        </div>

        <div style="display: flex; justify-content: center; gap: 5px; margin-top: 5px;">
            <img class="blog-pic"  src="/images/some-spectacular-birding/goose5.jpg" alt="canada geese">
        </div>

    </div>

</section>

<section>
    <h3 id="{{ point2 }}p2">
        {{ point2 }}
    </h3>

    <div class="blog-text">
        <p>
            These are quite possibly the most iconic North American duck species. The drakes (male ducks) are incredibly distinct with their iridescent green head feathers and yellow beaks.
        </p>

        <p>
            Mallards are dabbling ducks, where they forage for food near the water's surface. You can see them dabbling in one of the attached pictures haha
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/mallard1.jpg" alt="mallard">
            <img class="blog-pic"  src="/images/some-spectacular-birding/mallard2.jpg" alt="mallard">
        </div>

        <p>
            I think the two dabbling mallards with their tushes up are a mated pair lol. They were very in sync.
        </p>

        </div>

</section>

<section>

<h3 id="{{ point3 }}p2">
    {{ point3 }}
</h3>

<div class="blog-text" style="overflow-wrap: break-word;">
    <p>
        These guys probably escaped from farms lol. They are quite gorgeous and stand out among the sea of Canada geese, which are also gorgeous. There is no such thing as an ugly bird ngl.
    </p>
    <p>

    </p>

    <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/dfgoose1.jpg" alt="domestic feral goose">
            <img class="blog-pic-tall"  src="/images/some-spectacular-birding/dfgoose2.jpg" alt="domestic feral goose">
        </div>
    </div>
</section>

<section>
    <h3 id="{{ point4 }}p2">
        {{ point4 }}
    </h3>

    <div class="blog-text">
        <p>
            Gosh, these guys are so beautiful. Unfortunately, they are very aggressive and invasive here in the United States.
        </p>

        <p>
            You can observe the below swan foraging for food, reaching deep down with its long neck. It appears to have similar behavior as dabbling ducks.
        </p>

        <p></p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/swan2.jpg" alt="mute swan">
            <img class="blog-pic-tall"  src="/images/some-spectacular-birding/swan1.jpg" alt="mute swan">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point5 }}p2">
        {{ point5 }}
    </h3>

    <div class="blog-text">
        <p>
            These guys are also so beautiful... and so invasive, as they brutally outcompete native species for resources. They are known to be quite intelligent and excellent mimics. The big clouds of them that you see are called murmurations.
        </p>

        <p>
            I apologize for the poor image quality, but I generally don't bother getting good pictures of them.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/starling.jpg" alt="starling">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point6 }}p2">
        {{ point6 }}
    </h3>

    <div class="blog-text">
        <p>
            Back to native species! You can easily identify these guys before even seeing them, with their iconic "che-ree" call. I love watching their song spread, as they puff out and show off their bright red epaulets to defend their territory and to attract potential mates. Unfortunately, those epaulets aren't very obvious in the video I took.
        </p>

        <p>
            Red-winged blackbirds are part of Icteridae family, where members are called icterids.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <video controls>
                <source src="/images/some-spectacular-birding/rwblackbird.mp4" type="video/mp4" />
            </video>
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point7 }}p2">
        {{ point7 }}
    </h3>

    <div class="blog-text">
        <p>
            These guys are also icterids!!! The below video appears to show it doing a song spread.
        </p>

        <p>
        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <video controls>
                <source src="/images/some-spectacular-birding/grackle.mp4" type="video/mp4" />
            </video>
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point8 }}p2">
        {{ point8 }}
    </h3>

    <div class="blog-text">
        <p>
            I am always so excited to see these. Their name comes from the nostalgic coos that remind you of your childhood, at least for me. There is no meaningful distinction between doves and pigeons, as they're all part of the family Columbidae. Fun fact: Columbidae is the only family of birds able to suction water to drink (most birds have to tilt their head back to swallow water).
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/mourning.jpg" alt="mourning dove">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point9 }}p2">
        {{ point9 }}
    </h3>

    <div class="blog-text">
        <p>
            Goshhh I love these guys' calls. They are quite distinct.... almost metallic. These guys are part of the family Mimidae, home to mockingbirds and thrashers. I saw a lot of brown thrashers back in my home state, North Dakota.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/mocking1.jpg" alt="northern mockingbird">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/mocking2.jpg" alt="northern mockingbird">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point10 }}p2">
        {{ point10 }}
    </h3>

    <div class="blog-text">
        <p>
            Such cuties. A way you can tell the males and females apart is that males have much deeper coloration; females look like muted versions of the males. Yet another fun fact: American robins aren't "true" robins. They were named them since their coloration somewhat resembles that of European robins. American robins are actually part of the thrush family Turdidae. Some other thrushes you may have heard of are the wood thrush, hermit thrush, and American dipper.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/americanrobin1.jpg" alt="american robin">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/americanrobin2.jpg" alt="american robin">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point11 }}p2">
        {{ point11 }}
    </h3>

    <div class="blog-text">
        <p>
            One way you can easily identify these guys by the Charles is that they have to rapidly flap their wings to fly compared to other aquatic bird species. Fun fact: their feathers aren't waterproof, unlike other bird species. Double-crested cormorants use this to their advantage, enabling them to dive deep to hunt. This is why you often see them drying on the buoys in the Charles, pictured below. You can actually see the double crests in the picture I took of one sunning.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/doublecrestedcormorant1.jpg" alt="double crested cormorant">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/doublecrestedcormorant2.jpg" alt="double crested cormorant">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point12 }}p2">
        {{ point12 }}
    </h3>

    <div class="blog-text">
        <p>
            These guys are NOT just "seagulls." The herring gulls in the below video appear to be riding air currents. I am always in such awe watching them fly up high above the Charles.
        </p>

        <p>
            For identification: they are quite large compared to other gull species, and they have pink feet. They have black wing tips and yellow eyes.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <video controls>
                <source src="/images/some-spectacular-birding/herringgull.mp4" type="video/mp4" />
            </video>
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point13 }}p2">
        {{ point13 }}
    </h3>

    <div class="blog-text">
        <p>
            These guys are an incredibly invasive species. I probably see these the most around MIT campus.
        </p>

        <p>
            For identification: they have a gray cap, and the males have black chins and brown by their eyes. A female will have a white stripe near her eye and have overall light brown coloration. They are quite larger than native sparrow species, such as the song sparrow, here at MIT.
        </p>

        <p>
            I don't intentionally take pictures of house sparrows. In the below picture, circled in red are female house sparrows, and the one circled in blue is male. The surrounding birds are rock pigeons.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/housesparrow.jpg" alt="house sparrow">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point14 }}p2">
        {{ point14 }}
    </h3>

    <div class="blog-text">
        <p>
            This guy is a native sparrow species! I am always so excited to see them, especially after seeing invasive house sparrows all day, every day lol.
        </p>

        <p>
            For identification: their tails tend to be angled up a litte, and they have a lot of brown streaking. Such cuties.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/songsparrow1.jpg" alt="song sparrow">
            <img class="blog-pic-tall"   src="/images/some-spectacular-birding/songsparrow2.jpg" alt="song sparrow">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point15 }}p2">
        {{ point15 }}
    </h3>

    <div class="blog-text">
        <p>
            This is my favorite bird species! They are of course corvids, part of the Corvidae family, home to crows, ravens, magpies, jays, jackdaws, rooks, choughs, and nutcrackers (these are all the types of corvids I could think of). They are incredibly intelligent and have such fascinating social dynamics.
        </p>

        <p>
            I did not actually see one but heard its caws by the Charles. Below are pictures I took of American crows in North Dakota.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/crow1.jpg" alt="american crow">
        </div>
        <div style="display: flex; justify-content: center; gap: 5px; margin-top: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/crow2.jpg" alt="american crow">
        </div>
        <div style="display: flex; justify-content: center; gap: 5px; margin-top: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/crow3.jpg" alt="american crow">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point16 }}p2">
        {{ point16 }}
    </h3>

    <div class="blog-text">
        <p>
            Rock pigeons/doves are one of my favorite bird species. They are not native and are considered "invasive" just because humans consider them a nuisance, even though they do not pose any sort of ecological threat. Their cliff-dwelling genes make them well-suited for life in urban environments. It is a lie that they spread diseases. In fact, doves and pigeons rarely, if at all, spread avian influenza.
        </p>

        <p>
            I would love to have one as a pet someday.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/pigeon1.jpg" alt="rock pigeon">
        </div>
        <div style="display: flex; justify-content: center; gap: 5px; margin-top: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/pigeon2.jpg" alt="rock pigeon">
        </div>
        <div style="display: flex; justify-content: center; gap: 5px; margin-top: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/pigeon3.jpg" alt="rock pigeon">
        </div>
        <div style="display: flex; justify-content: center; gap: 5px; margin-top: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/pigeon4.jpg" alt="rock pigeon">
        </div>
        <div style="display: flex; justify-content: center; gap: 5px; margin-top: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/pigeon5.jpg" alt="rock pigeon">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point17 }}p2">
        {{ point17 }}
    </h3>

    <div class="blog-text">
        <p>
            Another corvid!!! I hear them all the time in building 1 on MIT campus. Their call is often a loud shriek that people find annoying, but I love it. They are also known to be good mimics, sometimes mimicking red-tailed hawks to seem more threatening. Such menaces, but oh so beautiful.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/bluejay1.jpg" alt="blue jay">
            <img class="blog-pic"   src="/images/some-spectacular-birding/bluejay2.jpg" alt="blue jay">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point18 }}p2">
        {{ point18 }}
    </h3>

    <div class="blog-text">
        <p>
            OH MY GODDD!!! This is a lifer for me. I have never seen one before. I felt my heartbeat in my ears spotting it. I couldn't believe my eyes at first. It was scurrying up the tree so fast that I was unable to get a good picture or video. However, from the photos I got, it is quite obvious that it is indeed a brown creeper.
        </p>

        <p>
            They are quite common, as their range spreads all across the United States. They can be hard to spot though since they are shy and well-camouflaged, like American bitterns. You see them scurrying in a spiral up trunks or limbs of trees, scouring for insects to dine on. They use their strong tail for support while they cling vertically onto the trunk.
        </p>

        <p>
            I am still in disbelief that I saw one.
        </p>

        <p>
            Here's a fun challenge: can you spot the brown creeper in the right photo?
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/browncreeper1.jpg" alt="brown creeper">
            <img class="blog-pic"   src="/images/some-spectacular-birding/browncreeper2.jpg" alt="brown creeper">
        </div>

    </div>
</section>

<section>
    <h3 id="{{ point19 }}p2">
        {{ point19 }}
    </h3>

    <div class="blog-text">
        <p>
            Eighteen bird species isn't bad. I will be on the lookout for raptors, namely red-tailed hawks, Cooper's hawks, and American kestrels. I also have yet to see a great blue heron this spring.
        </p>

        <p>
            Enjoy this serene picture with a mute swan in the back lol.
        </p>

        <p>

        </p>

        <div style="display: flex; justify-content: center; gap: 5px;">
            <img class="blog-pic"   src="/images/some-spectacular-birding/headerpic.jpg" alt="serene picture">
        </div>

    </div>
</section>