---
title: "Yappings of misc. energy topics"
descriptor: "Get ready to learn abt greenwashing!!! (WIP)"
layout: "base.njk"
date: 2025-01-19

intro: "Introduction"
point1: "Nuclear"
point2: "Geothermal"
point3: "Photovoltaics"
point4: "Wind"
point5: "Hydroelectric"
conc: "Conclusion"
---

<h1>
    {{ title }}
</h1>

<p class="date">
   Date: {{ date | date: "%m/%d/%Y" }}
</p>

<section>
<h3>
    TABLE OF CONTENTS
</h3>

<ol>
    <li>
        <a href="#{{ intro }}p2">{{ intro }}</a>
    </li>
    <li>
        <a href="#{{ point1 }}p2">{{ point1 }}</a>
    </li>
    <li>
        <a href="#{{ point2 }}p2">{{ point2 }}</a>
    </li>
    <li>
        <a href="#{{ point3 }}p2">{{ point3 }}</a>
    </li>
    <li>
        <a href="#{{ point4 }}p2">{{ point4 }}</a>
    </li>
    <li>
        <a href="#{{ point5 }}p2">{{ point5 }}</a>
    </li>
    <li>
        <a href="#{{ conc }}p2">{{ conc }}</a>
    </li>
</ol>
</section>

<section>
<h3 id="{{ intro }}p2">
    {{ intro }}
</h3>

<div class="blog-text">
    <p>
        {{ descriptor }}
    </p>
    <p>
    I apologize for the incomplete blog post! I'm using this as a
    tester for implementing eleventy shenanigans, but i plan to write stuff
    abt these topics eventually
    </p>
</div>
</section>

<section>
<h3 id="{{ point1 }}p2">
    {{ point1 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: not great
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ point2 }}p2">
    {{ point2 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: better, and even great in certain
        contexts
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ point3 }}p2">
    {{ point3 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: goodish, but silicon :(
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ point4 }}p2">
    {{ point4 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: dunno need to do more research
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ point5 }}p2">
    {{ point5 }}
</h3>

<div class="blog-text">
    <p>
        General vibe: we can do much better :(((
            the poor salmon
    </p>
    <p>
        Will expand on this later lol
    </p>
</div>
</section>

<section>
<h3 id="{{ conc }}p2">
    {{ conc }}
</h3>

<div class="blog-text">
    <p>
        Oof, I'm so sorry if you're still here.
    </p>
</div>
</section>