---
title: "Birds"
layout: "subpage.njk"
self: "birds"
permalink: "/birds/"
---

<h1>
    {{ title }}
</h1>

<p>
    Can you tell that I like birds?
</p>

<p>
    Just having blog posts on birds was not enough for my ornithology addiction, so I made this page.
</p>

<section>
    <h2>
        Bird Dump
    </h2>
    <p></p>
    <div class='project-gallery' id="projectGallery">
        {% for bird in collections.birds reversed %}
            <div class="birdIndex" id="birdIndex{{ bird.data.birdindex }}" data-birdindex="{{ bird.data.birdindex }}" title="{{ bird.data.title }}" style="background-image: url('/images/birdies/{{ bird.data.self }}/{{ bird.data.image }}')">
                <a href="{{ bird.url }}">
                    <div class="backdrop">
                        <p>
                            {{ bird.data.title }}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<section>
    <h2 id="all-birds-i-know">
        All birds I know from memory
    </h2>

        <p>
            In alphabetical order (for now)
        </p>

    <div id="birdsiknow" class="all-birds-i-know">
    </div>
</section>

<script>
    async function listBirds() {

    async function birds() {
        return (await (await fetch("/.birds")).text()).split("\n");
    }

    var birdsArray = Array.from(await birds());
    let sortedBirds = birdsArray.sort();

    for (let i = 0; i < birdsArray.length; i++) {
        let birdDiv = document.querySelector("#birdsiknow");

        pBird = document.createElement('p');

        pBird.innerText = (i + 1) + '. ' + sortedBirds[i];

        birdDiv.appendChild(pBird);
    }
    }

    listBirds()
</script>