---
title: "Birds"
layout: "subpage.njk"
self: "birds"
permalink: "/birds/"
---

<h1>
    {{ title }}
</h1>

<p>
    Can you tell that I like birds?
</p>
<p></p>

<div class='project-gallery' id="projectGallery">
    {% for bird in collections.birds reversed %}
        <div class="birdIndex" id="birdIndex{{ bird.data.birdindex }}" data-birdindex="{{ bird.data.birdindex }}" title="{{ bird.data.title }}" style="background-image: url('/images/birdies/{{ bird.data.self }}/{{ bird.data.image }}')">
            <a href="{{ bird.url }}">
                <div class="backdrop">
                    <p>
                        {{ bird.data.title }}
                    </p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>