---
title: "Blog"
layout: "subpage.njk"
self: "blog"
---

<h1>
    {{ title }}
</h1>

<p>
    I have big thoughts.
</p>

<section>
<h2>
    Posts
</h2>
<p></p>
<div class="blog-links">

    {% for post in collections.posts reversed %}
        <a href="{{ post.url }}">
            <section>
                <div class="blogpost-backdrop">
                    <h3>
                        {{ post.data.title }}
                    </h3>
                    <p style="color: white;">
                        {{ post.data.descriptor }}
                    </p>
                    <p>
                        Updated: {{ post.data.displayDate }}
                    </p>
                </div>
                <div class="background-image" style="background-image: url('{{ post.data.bannerImage }}')" title="{{ post.data.imageTitle }}">
                    {% comment %} <img src="{{ post.data.bannerImage }}" alt=""> {% endcomment %}
                </div>
            </section>
        </a>
    {% endfor %}
</div>
</section>