---
title: "Home"
layout: "base.njk"
---

<h1>Angelica Knudsen</h1>

<div class="about-me">
    <!-- <figure>
        
        <figcaption>Me popping a balloon at the MIT Edgerton Strobe Project Laboratory</figcaption>
    </figure> -->
    <div>
        <img src="/images/me.jpg" alt="Image of myself" class="center" />
    </div>


    <section>
        <h2>
            About Me
        </h2>

        <p>
            Pronouns: they/them
        </p>

        <p>I like to go by Jelly (like the food). I am an undergraduate student at MIT majoring in Mechanical
            Engineering with Energy.
            I am also a big bird person, with my current favorite bird being the American Crow.
        </p>

        <p>
            Talk to me about birds, sustainability, mechanical engineering, physics, or whatever! Some of my ramblings
            will be posted to my <a href="blog/">blog</a>.
        </p>
    </section>

</div>

<div>
    <h2>
        Featured Project
    </h2>

    {% assign lastProject = collections.featuredprojects.last %}

    <div>
        <p>
            Title: <a href="{{ lastProject.url }}">{{ lastProject.data.title }}</a>
        </p>
    </div>

    <div class="project-interactive-container">
        <iframe class="project-interactive" src="{{ lastProject.data.edrawingpath }}" frameborder="0"></iframe>
    </div>

    <a href="projects/" style="width: 110px; text-decoration: underline">
        More projects
    </a>
</div>

<div class="blog-links">

    <h2>
        Latest Blog Post
    </h2>

    {% assign lastPost = collections.posts.last %}

    <a href="{{ lastPost.url }}">
        <section>
            <div class="blogpost-backdrop">
                <h3>
                    {{ lastPost.data.title }}
                </h3>
                <p style="color: white;">
                    {{ lastPost.data.descriptor }}
                </p>
                <p>
                    Updated: {{ lastPost.data.displayDate }}
                </p>
            </div>
            <div class="background-image" style="background-image: url('{{ lastPost.data.bannerImage }}')"
                title="{{ lastPost.data.imageTitle }}">
            </div>
        </section>
    </a>

    <a href="blog/" style="width: 110px; text-decoration: underline">
        More blogs
    </a>
</div>