---
title: "Projects"
layout: "subpage.njk"
self: "projects"
---

<h1>
    {{ title }}
</h1>

{% comment %} <div class="project-gallery" id='projgal'>
    <a href="#SuperUROP-anchor">
        <img src="/images/hummingbird.jpg" alt="Hummingbird">
        <p>
            How Hummingbirds Make Light Dance and Water Bounce
        </p>
    </a>
    <a href="#2671-anchor">
        <img src="/images/samplecadisoview.png" alt="sample CAD">
        <p>
            Hydrophobicity of Feather-Inspired, 3D-Printed Polymeric Materials
        </p>  
    </a>
    <a href="#scrappy-anchor">
        <img src="/images/yarnwinder.jpg" alt="yarn winder">
        <p>
            Scrappy Yarn Winder
        </p>
    </a>
    <a href="#mod-anchor">
        <img src="/images/waterbox1.jpg" alt="water box">
        <p>
            Modular Water Collection System
        </p>
    </a>
    <a href="#ladder-anchor">
        <img src="/images/Assembly v12 cropped.png" alt="hook assembly">
        <p>
            Ladder Climbing Robot
        </p>
    </a>
    <a href="#sensory-anchor">
        <img src="/images/sensorysteamroller.jpeg" alt="sensory steam roller">
        <p>
            Sensory Steam Roller (in progress)
        </p>
    </a>
    <a href="#data-anchor">
        <img src="/images/conductivityplotforcastaway.png" alt="plot">
        <p>
            Data Processor and Grapher for Marine Research
        </p>
    </a>
    <a href="/projects/personal-jeopardy">
        <img src="/images/jeopardychoicescreen.png" alt="jeopardy">
        <p>
            Personal Jeopardy Game
        </p>
    </a>
</div> {% endcomment %}


<h2>
    Featured Projects
</h2>

<div class='project-gallery' id="projectGallery">

    {% for featuredproject in collections.featuredprojects reversed %}
        <div class="projectIndex" data-projectindex="{{ featuredproject.data.projectIndex }}" title="{{ featuredproject.data.title }}" style="background-image: url('{{ featuredproject.data.image }}')">
            <a href="{{ featuredproject.url }}">
                <div class="backdrop">
                    <p>
                        {{ featuredproject.data.title }}
                    </p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>


<h2>
    Other Projects
</h2>

<div class='project-gallery' id="projectGallery">

    {% for project in collections.projects reversed %}
        <div class="projectIndex" data-projectindex="{{ project.data.projectIndex }}" title="{{ project.data.title }}" style="background-image: url('{{ project.data.image }}')">
            <a href="{{ project.url }}">
                <div class="backdrop">
                    <p>
                        {{ project.data.title }}
                    </p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% comment %} <script src="/script.js"></script> {% endcomment %}
{% comment %} <div id="projectGallery">
    <div class="index" data-projectIndex="1">1</div>
    <div class="index" data-projectIndex="3">3</div>
    <div class="index" data-projectIndex="2">2</div>
</div> {% endcomment %}

{% comment %} <button onclick="SortData()">
        Sort list
</button>

<script>
function comparator(a, b) {
    if (a.dataset.projectindex < b.dataset.projectindex)
        return 1;
    if (a.dataset.projectindex > b.dataset.projectindex)
        return -1;
    return 0;
}

function SortData() {
    var indexes = document.querySelectorAll("[data-projectIndex]");
    var indexesArray = Array.from(indexes);
    console.log(indexesArray)
    let sorted = indexesArray.sort(comparator);
    sorted.forEach(e =>
        document.querySelector("#projectGallery").appendChild(e));
}
</script> {% endcomment %}

<div class="oldprojectstuff">
{% comment %} <section>
    <h2 id="SuperUROP-anchor">
        How Hummingbird Feathers Make Light Dance and Water Bounce
    </h2>
    <p>
        Location: Hatsopoulos Microfluids Laboratory
    </p>
    <p>
        Supervisor: Irmgard Bischofberger
    </p>
    <p>
        Mentor: Ippolyti Dellatolas
    </p>
    <p>
        Research Area: Mechanical Engineering
    </p>
    <p>
        Timeline: Sept 2024-Present
    </p>
    <p>
        <a href="https://superurop.mit.edu/scholars/angelica-jo-knudsen/?scholar-cohort=702&scholar-page=1">SuperUROP Profile</a>
    </p>
    <p>
        Hummingbirds are unique in that their feathers boast two extraordinary properties simultaneously: superhydrophobicity
        and iridescence. Generally, iridescent feathers in birds are less hydrophobic than non-iridescent
        ones. However, hummingbirds’ iridescent feathers exhibit a special evolutionary trait: flattened and hollowed melanosomes,
        called platelets. Usually, melanosomes, which are the cells that provide brown pigment, exhibit either hollowness or
        flatness in birds. The co-presence of hollowness and flatness is extremely rare and, thus far, has only been described in
        African starlings, trogons, and hummingbirds. This trait, paired with the intricate structure of gorget (throat) feathers,
        characterized by microscopic barbes and barbules, is hypothesized to result in combined iridescence and superhydrophobicity.
        Water-repelling feathers present an evolutionary advantage for hummingbirds since raindrops can slide off their body, avoiding
        feathers getting soaked and heavy which would prove detrimental to the bird’s flying abilities. Iridescence allows birds to
        visually communicate with their species, signaling mates or rivals. 
    </p>
    <p>
        We propose to reveal the geometry of the hummingbird’s hierarchical feather structure and how it leads to combined
        superhydrophobicity and iridescence. Using this, we will build an experimental model system of a synthetic version of the
        gorget feather to see how different geometric parameters can affect the hydrophobicity of a material. This experimental model
        system could influence the design of future materials that need to be hydrophobic and iridescent, such as clothing.
    </p>

    <p>
        Below is a poster for the 6.UAR (Seminar in Undergraduate Advanced Research) Fall 2024 showcase.
    </p>

    <figure>
        <img src="/images/Knudsen_Angelica_FinalPoster.png" style="width:600px !important;max-height: 1000px !important;" alt="SuperUROP Poster">
        <figcaption>Final Poster for Fall 2024 SuperUROP Showcase</figcaption>
    </figure>

    <p>
        
    </p>
    </section>

    <section>
    <h2 id="2671-anchor">
        Hydrophobicity of Feather-Inspired, 3D-Printed, Polymeric Materials
    </h2>
    <p>
        Semester-long class project for 2.671 (Instrumentation and Measurement)
    </p>
    <p>
        Timeline: Sept-Dec 2024
    </p>

    <p>
        <a href="/images/Knudsen_Angelica_FinalPaper2column.pdf">Paper</a> in the ASME format
    </p>

    <p>
        Abstract: Feathers can vary hydrophobicity through differences in their
        microstructure geometry. These microstructures, known as barbs and barbules,
        can be emulated through 3D-printed materials at an enlarged scale to probe how
        different parameters of feather-like ridges influence hydrophobicity. The design includes
        five three-millimeter-wide circular samples featuring barbule-like ridges with
        different widths and angles. To characterize hydrophobicity, a two-microliter drop of water
        is placed on a sample surface, and a goniometer measures the mean contact angle (MCA), where
        higher mean contact angles indicate greater hydrophobicity. Wider ridges decreased
        hydrophobicity quadratically, with a leading coefficient of (-2.37 ± 0.92)×10-3 º/µm^2, while
        steeper angles increased hydrophobicity linearly, with a slope of (7.0 ± 3.8)×10^(-1), which is
        consistent with the theory behind feather hydrophobicity.
    </p>

    <p> </p>

    <p>
        Below is a sample CAD of a 3mm wide circle with 60-micron-wide ridges and 120-micron-spaced ridges.
        This project aims to vary two geometric parameters: ridge width and ridge angles.

        The top view illustrates the width of the ridges. The side view illustrates the angles
        of the ridges.
    </p>

    <figure>
        <img src="/images/samplecadtopview.png" height=200 alt="Top View" />

        <figcaption>Top View</figcaption>
    </figure>

    <figure>
        <img src="/images/samplecadsideview.png" height=29 alt="Side View" />
        <figcaption>Side View</figcaption>
    </figure>

    <figure>
        <img src="/images/samplecadisoview.png" height=138 alt="Iso View">
        <figcaption>Isometric View</figcaption>
    </figure>

    <p>
        Below is the poster I presented on my project through the class.
    </p>

    <figure>
        <img src="/images/Knudsen_A_FinalPoster.png" style="width:600px !important;max-height: 1000px !important;" alt="Final Poster for Project">
        <figcaption>Final Poster for Class Project</figcaption>
    </figure>
    </section>

    <section>
    <h2 id="scrappy-anchor">
        Scrappy Yarn Winder
    </h2>
    <p>
        Timeline: 1 week in Aug 2024
    </p>

    <p>
        Prototype entirely made out of scavenged parts (total budget: $0). The many crochet and knit
        projects that I abandoned motivated me to build this, as I wanted to speed up the process of frogging (frog meaning "rip it, rip it") them. I used scrap 1/8th inch acrylic and plywood from
        the Edgerton Center Student Project Lab to laser cut the gears and base (designed using Fusion 360), and I scavenged for all the other parts, including an empty spool from my work for the bent winding part and
        a brushed DC motor found in the EE lab of my dorm's basement. A 9V battery powers the winder, and I soldered the entire circuit (except for wires attached to motor so that I can take base apart), which includes a double pole switch
        for bidirectional movement of the motor. I also designed the yarn feeder and angle of the winder to be entirely customizable, with just a few
        bolts and wingnuts, for adjustability and possibility for different winder attachments, which is something that I noticed lacking
        in most commercial yarn winders.
    </p>

    <p>
        I hope to build a more robust one that can withstand more weight and is more automated.
    </p>

    <figure>
        <img src="/images/emptyyarnwinder.jpg" height=200 alt="Waterbox at angled view" />
        <img src="/images/yarnwinder.jpg" height=200 alt="Waterbox at side view" />
        <figcaption>Finished Prototype</figcaption>
    </figure>

    </section>

    <section>
    <h2 id="mod-anchor">
        Modular Water Collection System
    </h2>
    <p>
        Timeline: April-May 2023
    </p>
    <p>
        Proof of concept part of the class 2.00A (Designing for the Future: Earth, Sea, and Space). Aim of design
        was to optimize water collection for marine research. Worked with other students to design a
        modular system with detachable test tubes and a peristaltic pump that turns and dispenses water from
        flexible tube. I was largely in charge of laser cutting, CAD-ing, and 3D-printing parts.
    </p>

    <figure>
        <img src="/images/waterbox1.jpg" height=200 alt="Waterbox at angled view" />
        <img src="/images/waterbox2.jpg" height=200 alt="Waterbox at side view" />
        <img src="/images/waterbox3.jpg" height=200 alt="Waterbox at top view" />
        <figcaption>Finished Project</figcaption>
    </figure>

    {# <figure>
        <img src="/images/pump laser cut v6 copy.png" width=300 alt="CAD of laser-cut base components of waterbox" />
        <img src="/images/pumpsideways v16 cropped.png" width=300 alt="CAD of Gearing of water box" />
        <figcaption>CADs for Laser-Cut Acrylic Base (Left) and Gear-Bearing System (Right)</figcaption>
    </figure> #}

    </section>

    <section>
    <h2 id="ladder-anchor">
        Ladder Climbing Robot
    </h2>
    <p>
        Timeline: March-May 2023
    </p>
    <p>
        Part of project by MIT Robotics Team for a showcase. I designed a hinging hook mechanism that smoothly glides
        over and snaps onto rungs of ladder using rubber bands.
    </p>

    <figure>
        <img src="/images/Hook Assembly v5 cropped.png" height="300" alt="CAD of Hook Assembly" />
        <img src="/images/Assembly v12 cropped.png" alt="CAD of Assembly" />
        <figcaption>CAD of my Hook Assembly Design and Team's Assembly</figcaption>
    </figure>

    </section>

    <section>
    <h2 id="sensory-anchor">
        Sensory Steam Roller (in progress)
    </h2>
    <p>Timeline: Jan 2024-Present</p>
    <p>
        Passion project that I will build with my friends for my dorm, Random Hall. I'm in charge of designing,
        CAD-ing, and machining for the most part.
    </p>
    </section>

    <section>
    <h2 id="data-anchor">
        Data Processor and Grapher for Marine Research
    </h2>

    <p>
        Timeline: June-July 2023
    </p>

    <p>
        Program part of my undergraduate research in coastal acidification during summer of 2023. Designed to process and graph data from the Hanna, Manta +35, and YSI CastAway sensors. Using the Python library matplotlib, I 
        converted files to .csv when needed, cleaned the data, and then graphed it on an interactive
        interface where when you click the window, it cycles through different parameters.
        Program is meant to be ran through command line interface.
    </p>

    <figure>
        {# <img src="/images/pHplotforHanna.png" alt="pH plot from Hanna">
        <img src="/images/TDSppmPlotforhanna.png" alt="TDS (ppm) Plot from Hanna">
        <figcaption>Data from Hanna</figcaption>
        <img src="/images/spcondformanta.png" alt="SpCond Plot from Manta">
        <figcaption>Data from Manta</figcaption> #}
        <img src="/images/conductivityplotforcastaway.png" alt="Temp to Depth from Castaway">
        <figcaption>Data from YSI Castaway</figcaption>
    </figure>

    </section>

    <section>
    <h2 id="jeo-anchor">
        Personal Jeopardy Game (for fun lol)
    </h2>
    <p>Timeline: March-May 2020</p>
    <p>
        Passion project where I used Visual Basic .net to make an individual Jeopardy game. Structured like Jeopardy but more like
        a trivia game where you enter your answer under a 30-second time constraint.
    </p>

    <figure>
        <img src="/images/jeopardymainscreen.png" alt="jeopardy main screen">
        <img src="/images/jeopardychoicescreen.png" alt="jeopardy choices screen">
        <img src="/images/jeopardyrankingsmore.png" alt="jeopardy rankings screen">
        <img src="/images/jeopardyrulesscreen.png" alt="jeopardy rules screen">
    </figure>
</section> {% endcomment %}
</div>
